<article class="comment" id="{commentaire_ancre}">
	<header class="titre">
		<h2><a href="{commentaire_lien}" title="Aller au contexte">#{commentaire_ancre}</a> - <a href="#form-commentaire" onclick="reply('[b]@[{commentaire_auteur}|#{commentaire_ancre}] :[/b] ');" title="Répondre à l'auteur du commentaire">@Répondre</a> <img src="{commentaire_gravatar_link}?s=24" class="gravatar-icon" alt="gravatar" /> {commentaire_auteur_lien} - <span class="comments_hours"> le {commentaire_date} à {commentaire_heure}</span></h2>
	</header>
	{commentaire_contenu}
</article>