@import url(css/editor.css); 	/* feuille de style pour l'éditeur */

/* GENERAL */
html, body {}
body {}

/* LAYOUT */
#main {}
#wrapper {}

/* HEADER */
#top {margin-bottom: 10px;padding: 15px 0 15px 0;border-bottom : #f0f0f0 solid 1px;}
#top_text h1 a {letter-spacing: -1px;text-decoration: none;}
#top_text h2 {margin-top: -1em;font-size:1.6em; font-style: italic; text-align: right;}

/* SIDEBAR */
#sidebar {}
#sidebar h3 { font-size:1.5em;}
#sidebar hr {}
#recherche h3 {}
#navigate h3 {}
#last_comments h3 {}
#tags h3 {}
#liens h3 {}
#rss h3 {}
#rss ul li a {}
#random h3 {}

/* CONTENT */
#contenu {border-right : #f0f0f0 solid 1px;}
/* Last Comments */
.encart_lastcom {list-style-type: none;}
.encart_lastcom li a {font-size: .9em; text-decoration:none; font-style:italic;}
/* search form */
#search {text-align: right; margin-bottom: 20px;border: #f0f0f0 1px solid;width: 207px;}
#search input { margin-bottom: 0; display: inline-block;}
#q {padding: 2px 0;border-width: 0;text-align: left;width: 120px;}
#input-rechercher { border-width: 0;width: 80px;}
/* Calendar */
#calendrier {display: block;border: none;}
#calendrier caption {font-size: 1.3em;padding: 4px;font-weight: bold;}
#calendrier caption a {font-weight: bold;text-decoration: none;}
#calendrier td {text-align: center;width: 40px;line-height: 2em;}
#calendrier td a {display: block;text-decoration: none;border-width: 1px 0 0 1px;font-weight: bold;}
#calendrier td a:hover {border-width: 0 1px 1px 0;}
#calendrier td.active a {}
#calendrier abbr {border-bottom: none;cursor: auto;}
/* Tags */
#tags ul li {display: inline; padding: 3px;list-style-type: none;font-size:1.1em;}
#tags ul li a { }
#tags li a:hover {}
#tags li a:nth-child(2n):hover { }
/* Others links */
#liens ul li a {}
#liens ul li a:hover {}
/* Random news */ 
#random a {}
#random a:hover {}
/* CONTENU */
.news, .lien, .comment {margin: 0 10px 20px 0;word-wrap: break-word;overflow: show;}
.news pre, .comment pre, .lien pre { white-space: pre-wrap;}
/* article de blog */
.news h2, .lien h2, .comment h2 {font-size:1.8em;}
.comment h3 {font-size:1.4em;}
.chapo {}
.permalien {text-align: right;}

header.titre {}
header.titre a {text-decoration: none;}
header.titre a:hover {text-decoration: underline;}

h3 img {vertical-align: middle;}

p.date {font-size:.9em; font-style:italic;}
p.tags  {}
p.rss {}

.post a:visited {}

.tags {/*	clear: both;*/ /* at bottom of article, must clear. */}
.tags img {vertical-align: middle;}
.img { display: block; margin: 0 auto;}
.news img, .news iframe, .news video {padding: 4px;background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.2);border: solid 1px #bbb;max-width: 100%;}
.news figure {display:block;float: right;margin: 5px 0 5px 10px; padding:10px; text-align: center; background: #ddd; border-radius:7px;-moz-border-radius: 7px;-webkit-border: 7px;box-shadow: 0 1px 2px rgba(0,0,0,.2);}
.news figcaption {color: #333;font-size: .8em; font-style: italic;}
#nombre_comment {font-weight: bold; font-size: 1.1em; text-align: right;}

.pagination a, .pagination a:visited {text-decoration:none;}
.pagination a:hover {text-decoration: underline;}
.pagination {padding-top: 10px; font-size: 1.25em; text-align: center;}
/* Last Comments page */
.comment {
	margin-bottom: 20px;
	padding: 25px 0 0 25px;
	border-left : #f0f0f0 solid 1px;
	border-bottom : #f0f0f0 solid 1px;
	border-radius : 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}
.comment h2 span, .comment h3 span { font-size: .7em; font-style:italic; }
.gravatar-icon {height: 24px;width: 24px;vertical-align: middle;display: inline-block;}
.com-reply {text-align: right;}
.com-reply a {font-style: italic;padding: 0 4px 2px 4px;}
/* Form Comments */
#form-commentaire {width: 95%;margin: 0 auto;}
#form-commentaire fieldset {border: none;	margin: 0;	padding: 0;}
#form-commentaire .infos {text-align: right;width: 100%;margin: 10px auto;}
#form-commentaire fieldset.infos input {margin-top: 2px;-moz-border-radius: 5px;-webkit-border-radius: 5px;padding: 3px;}
#form-commentaire input:focus {}
.formatbut button {margin-bottom:0;}
.infos label, .infos input, .cookie label, .cookie input {display: inline-block;}
fieldset.buttons {text-align: center;}
.buttons input{ margin-top: 10px;}
.cookie label {}

/* FOOTER */
footer {margin-top: 10px; padding: 10px 0 20px 0; text-align: center;border-top : #f0f0f0 solid 1px;}
footer a, footer a:visited {  }
#social-box {font-size:.9em; text-align: center; padding: 5px 0 5px 0; opacity:.5;}
#social-box a {text-decoration: none;}
#social-box a:hover {opacity: 1; text-decoration: underline;}

/* OVERRIDE */
::selection {background:#ddd; color:inherit;}
::-moz-selection {background:#ddd; color:inherit;}
::-webkit-selection {background:#ddd; color:inherit;}

/* OTHERS */
#erreurs {
	background-color: rgba(255, 0, 0, .3);
	padding: 1px;
	color: white;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 2px 2px 10px  rgba(102, 102, 102, .5);
		-moz-box-shadow: 2px 2px 10px rgba(102, 102, 102, .5) ;
		-webkit-box-shadow: 2px 2px 10px rgba(102, 102, 102, .5);
}

/*  to delete afterwards... */
.one { float: right; margin: 15px; }
#email-adress {display: none;}

/* MEDIA QUERIES */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body {font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;;}
	a#top-link {background: url(images/up_small.png) no-repeat 0 0; height:24px; width:24px;}
}
/* Print Styles */
@media print {

}
/* Assets for retina display */
@media only screen and (-webkit-min-device-pixel-ratio: 2),  only screen and (min--moz-device-pixel-ratio: 2),  only screen and (-o-min-device-pixel-ratio: 2/1),  only screen and (min-device-pixel-ratio: 2) {

}